@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:aqua">
    <h1 style="text-align:center">Welcome to EBookStore</h1>
    <h3 style="text-align:center">Click here to <a href="/User/Login">Login</a></h3>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="https://th.bing.com/th/id/OIP.8TKpwHn4CWKlaB4xid40vQAAAA?pid=ImgDet&w=315&h=315&rs=1" alt="_book2" />
    </div>
    <div class="col-md-4">
        <img src="https://th.bing.com/th/id/OIP.8TKpwHn4CWKlaB4xid40vQAAAA?pid=ImgDet&w=315&h=315&rs=1" alt="_book2" />
    </div>
    <div class="col-md-4">
        <img src="https://th.bing.com/th/id/OIP.8TKpwHn4CWKlaB4xid40vQAAAA?pid=ImgDet&w=315&h=315&rs=1" alt="_book3" />
    </div>

</div>